configuration {
  disable-history: false;
  display-drun: "   Apps ";
  display-Network: " 󰤨  Network";
  display-run: "   Run ";
  display-window: " 﩯  Window";
  drun-display-format: "{icon} {name}";
  hide-scrollbar: true;
  location: 0;
  modi: "drun,run,window";
  sidebar-mode: true;
  show-icons: true;
  terminal: "/usr/bin/alacritty";
  window-format: "{w} {t}";
}

@theme "catppuccin-mocha"
